.main-content {
    min-height: 70vh;
  }
  
  /* For computer screens */
  @media only screen and (min-width: 768px) {
    .main-content {
      margin-top: 8%;
    }
  }
  
  /* For mobile screens */
  @media only screen and (max-width: 767px) {
    .main-content {
      margin-top: 20%;
    }
  }
  